.content-grid {
  display: flex;
  padding: 20px;
  gap: 30px;
  flex-wrap: wrap;
}

.filters {
  width: 250px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.filters h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.filter-options {
  display: flex;
  flex-direction: column;
}

.filter-option {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.filter-option input {
  margin-right: 10px;
  transform: scale(1.2);
}

.filter-option label {
  font-size: 1rem;
  cursor: pointer;
}

.dog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  flex: 1;
}

.dog-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dog-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.dog-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.dog-description {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
}

/* Wyszukiwanie i sortowanie */
.search-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.search-sort input {
  padding: 10px;
  width: 200px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.search-sort select {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* Ikona lupki */
.search-sort .search-icon {
  font-size: 20px;
  color: #888;
  cursor: pointer;
}

/* Paginacja */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.pagination button {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button:active {
  background-color: #bbb;
}

.pagination .active {
  background-color: #007bff;
  color: white;
}

